<% if (success_msg !='') { %>
    <div class="ui floating message " style="background-color: #0ea432; color: white">
        <strong><i class="fa fa-check-circle"></i>  <%= success_msg  %></strong>
    </div>
<% } %>
