


</div>

<!-- build:js scripts/vendor.js -->
<script type="javascript/text" src="/javascripts/semantic.min.js"></script>
<script defer src='/javascripts/all.js'></script>
<script type="text/javascript" src="/javascripts/myApp.js"></script>
</body>
</html>