<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>My-App</title>
    <meta name="description" content="">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">

    <!-- bower:css -->

    <link rel='stylesheet' href='/stylesheets/semantic.min.css' />
    <!--<link rel="stylesheet" href='/stylesheets/all.min.css' >-->
    <!--<link href='//fonts.googleapis.com/css?family=Open+Sans:400,700,300&subset=latin,vietnamese' rel='stylesheet' type='text/css'>-->

    <!-- build:css styles/main.css -->
    <link rel='stylesheet' href='/stylesheets/myApp.css' />
    <!-- endbuild -->
</head>

<body>

<!-- Nav Bar  -->
<div class="nav">
    <div class="ui large green top fixed hidden menu nav-bar" style="background-color: #e38b54">
        <div class="ui container">
            <a class="item active" href="/"><i class="fa fa-home"></i>  Home</a>
            <a class="item" href="#"><i class="fa fa-phone"></i> Contact</a>
            <div class="right menu">
                <div class="item">
                    <a class="ui rounded red button" href="/users/logout">Logout</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
    <a class="active item">Home</a>
    <a class="item">Work</a>
</div>

<div class="ui container content">
